.profile-area {
  background-color: rgb(233, 240, 250);
  width: 100%;
  min-height: 149px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-area img {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  margin-bottom: 15px;
}
.profile-area-tit {
  font-size: 18px;
  font-weight: bold;
}
.display-tab {
  height: 47px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 10px;
}
.display-tab img {
  width: 14px;
}
.best-itemBox .txt {
  margin-top: 5px;
  margin-bottom: 0;
}
.best-itemBox .price-info {
  margin-top: 5px;
}
.best-itemBox p,
.best-itemBox h3,
.best-itemBox span {
  font-weight: bold;
}
.img img {
  width: 100%;
  height: 100%;
}
.twoAlign {
  display: flex;
  flex-wrap: wrap;
}
.twoAlign li {
  width: 49.5%;
  padding: 10px 10px;
  text-align: center;
}
.sale-rate {
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  color: #c70000;
}
.txt {
  margin-top: 10px;

  font-size: 14px;
}
.price {
  font-size: 15px;
  font-weight: bold;
}
p {
  margin: 0;
}
.twoAlign li {
  position: relative;
}
.cart {
  position: absolute;
  bottom: 70px;
  right: 20px;
  max-width: 45px;
}
.cart img {
  width: 100%;
}
#display-type-steps1,
#list-type2 {
  display: none;
}
.type3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.between {
  display: flex;
}
.type3 img {
  width: 72px;
  height: 72px;
}
.tbl-cell {
  padding-left: 15px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tbl-cell p {
  margin: 5px 0;
}

.btn-cart-type1 img {
  width: 26px;
  height: 26px;
}
.sale-rate {
  font-weight: bold;
  font-style: italic;
  color: #c70000;
}
.price {
  margin-right: 5px;
  font-weight: bold;
}
.gray-through {
  margin-right: 6px;
  font-weight: normal;
  color: #ccc;
  text-decoration: line-through;
}
.boxDiv ul {
  padding: 0 15px;
  min-height: 568px;
}
.boxDiv ul li {
  padding: 15px 0;
  border-top: 1px solid rgb(214, 214, 214);
}
.boxDiv li:last-child {
  border-bottom: 1px solid rgb(214, 214, 214);
}
.container-profile {
  min-height: 630px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(214, 214, 214);
}
